@model IEnumerable<SachOnline.Models.NHAXUATBAN>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@if (Model != null)
{
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TenNXB)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DiaChi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DienThoai)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TenNXB)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DiaChi)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DienThoai)
                </td>
                <td>
                    @*@Html.ActionLink("Edit", "Edit", new { id = item.MaNXB }) |
                    @Html.ActionLink("Details", "Details", new { id = item.MaNXB }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.MaNXB })*@
                    <a href="@Url.Action("Edit", new { id = item.MaNXB })">Sửa</a>|
                    <a href="/NhaXuatBan/Details?id=@item.MaNXB">Chi tiết</a>
                </td>
            </tr>
        }

    </table>
}
@Html.ActionLink("Tạo mới", "ThemNXB", "NhaXuatBan")
